@use "../utilities" as *;

/**----------------------------------------
START: About CSS
----------------------------------------*/
.about-img-wrap{
    display: grid;
    grid-template-columns: 235px 1fr;
    grid-gap: 24px;
    max-width: 585px;
    width: 100%;
    @include breakpoint(sm){
        grid-template-columns: 135px 1fr;
    }
    .left-img{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
        row-gap: 24px;
    }
    .right-img{
        .img-item{
            height: 100%;
            img{
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.about-item-wrap{
    @include flex-vertical-center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 40px;
    margin-bottom: 40px;
    .about-item{
        padding-left: 20px;
        border-left: 3px solid var(--rr-color--primary);
        .about-icon{
            width: 40px;
            height: 40px;
            margin-bottom: 20px;
        }
        .title{
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 15px;
        }
        p{
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

//  About 2

.about-2{
    .about-img{
        position: relative;
        z-index: 1;
        max-width: 520px;
        width: 100%;
        margin: 0 auto;
        @include breakpoint(md){
            margin-bottom: 40px;
        }
        &:before{
            background-color: transparent;
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border: 10px solid var(--rr-color--primary);
            transform: rotate(-5deg);
        }
        .img-content{
            background-color: var(--rr-color-grey-1);
            position: absolute;
            bottom: 50px;
            left: -40px;
            @include flex-vertical-center;
            column-gap: 15px;
            padding: 15px 20px;
            @include breakpoint(sm){
                left: 0;
            }
            .content-right{
                .title{
                    margin-bottom: 15px;
                    font-weight: 700;
                    @include breakpoint(sm){
                        font-size: 18px;
                    }
                }
                p{
                    line-height: 1.6;
                    @include breakpoint(sm){
                        font-size: 14px;
                        br{
                            display: none;
                        }
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .about-content{
        @include breakpoint(lg){
            padding-left: 30px;
        }
        @include breakpoint(md){
            padding-left: 0;
        }
        .about-list{
            list-style: none;
            margin-bottom: 40px;
            li{
                font-family: var(--rr-ff-heading);
                @include flex-vertical-center;
                color: var(--rr-color-text-body);
                text-transform: uppercase;
                font-weight: 700;
                &:not(:last-of-type){
                    margin-bottom: 10px;
                }
                i{
                    color: var(--rr-color--primary);
                    margin-right: 10px;
                }

            }
        }
    }
}



// About 3

.about-section-3{
    .about-thumb{
        position: relative;
        max-width: 630px;
        width: 100%;
        .about-thumb-content{
            background-color: var(--rr-color-common-white);
            padding: 25px 20px;
            @include flex-vertical-center;
            column-gap: 15px;
            position: absolute;
            bottom: 20px;
            left: 20px;
            .user{
                background-color: var(--rr-color--primary);
                height: 55px;
                width: 55px;
                @include flex-center;
                border-radius: 50%;
            }
            .thumb-counter{
                .esta{
                    font-size: 16px;
                    color: var(--rr-color-heading-primary);
                }
                .year{
                    margin-bottom: 0;
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 1;
                    .odometer-auto-theme{
                        font-family: inherit;
                        line-height: 1;
                        margin-bottom: 4px;
                    }
                    .odometer-formatting-mark{
                        display: none;
                    }
                }
            }
        }
    }
    .about-content{
        padding-left: 40px;
        @include breakpoint(md){
            padding-left: 0;
        }
    }
}

.about-box-wrap{
    @include flex-vertical-center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 30px;
    .about-box{
        @include flex-vertical-center;
        border: 1px solid var(--rr-color-border-1);
        padding: 15px 20px;
        .title{
            margin-bottom: 0;
            padding-left: 20px;
        }
    }
}

/* !END:  About CSS */
